@import './reset.css';

/* navbar */
.navbar {
  position: fixed;
  right: 0;
  left: 0;
  background: #3E3C3C;
  font-family: 'Inter', sans-serif;
  font-size: 15px;
  color: #fff;
  z-index: 800;
}

.navbar a {
  color: #fff;
  text-decoration: none;
}

.navbox {
  display: flex;
  justify-content: center;
}

.navcontainer {
  display: flex;
  width: 80%;
  padding: 20px;
}

.navcontainer > :last-child {
  margin-left: auto;
}

.name {
  padding: 10px 12px;
}

.routes {
  width: 30%;
  display: flex;
  justify-content: space-around;
  padding: 10px 12px;
}
/* navbar */

/* main */
.main {
  position: relative;
  top: 72px;
}

.section {
  background: #1C1A19;
  color: #fff;
  display: flex;
  width: 100%;
}

/* aside */
.social-contacts {
  width: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.soc > li {
  padding-bottom: 14px;
}

.soc img {
  width: 80%;
}
/* aside */

/* article */
.headline {
  width: 90%;
  display: flex;
  justify-content: space-between;
}

.headline-container {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.headline-contents {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.desc {
  font-size: 72px;
  color: #F55800
}

.desc, .recent-works, .app-name, .about-me {
  font-family: 'Crete Round', serif;
}

.supp-text, .pri-text {
  font-family: 'Inter', sans-serif;
}

.supp-text {
  font-size: 32px;
  padding: 15px 0;
}

.pri-text {
  font-size: 15px;
  word-spacing: 2px;
  line-height: 1.6;
}

.image-con {
  width: 37%;
}

.image-con .img {
  width: 100%;
}

/* portfolio section */
.works {
  background: #fff;
}

.portfolio-container {
  max-width: 1100px;
  margin: 100px auto;
}

.recent-works {
  font-size: 40px;
  color: #091E42;
}

.line {
  color: #212121;
  width: 61%;
  border: 1px groove;
  display: inline-flex;
  height: 0;
  margin-bottom: 8px;
  margin-left: 23px;
}

.gallery {
  margin-top: 100px;
}

.view {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.app-image-con {
  width: 51%;
  height: 248px;
  border: 45px solid #f28729;
}

.app-image-con img {
  /* max-width: 300px; */
  width: 100%;
  max-height: 250px;
}

.app-desc {
  width: 38%;
  display: flex;
  flex-direction: column;
}

.app-name {
  font-size: 36px;
  color: #091E42;
  padding-bottom: 15px;
}

.short-desc {
  font-family: 'Inter', sans-serif;
  font-size: 15px;
  word-spacing: 2px;
  line-height: 1.6;
  padding-bottom: 15px;
}

.langs-con {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding-bottom: 15px;
}

.langs-con > li {
  border: 1px groove #f1f1f1;
  padding: 10px 12px;
  margin-bottom: 9px;
}

.see-project {
  width: 120px;
  background: #F55800;
  padding: 12px;
  border: none;
}

.see-project a {
  color: #fff;
  text-decoration: none;
}

.list {
  margin-top: 30px;
  display: flex;
  justify-content: space-between;
  /* color: #fff; */
  /* flex-wrap: wrap; */
}

.list div {
  /* background: linear-gradient(179.4deg, rgba(38, 38, 38, 0) 0.81%, rgba(38, 38, 38, 0.9) 84.03%); */
  border: 1px solid blue;
}

.list-app-name {
  font-family: 'Crete Round', serif;
  font-size: 32px;
  padding-bottom: 12px;
}

.list-short-desc {
  font-family: 'Inter', sans-serif;
  font-size: 15px;
  padding-bottom: 12px;
}

.list-langs-con {
  display: flex;
  /* justify-content: space-between; */
  flex-wrap: wrap;
  padding-bottom: 15px;
}

.list-langs-con > li {
  border: 1px groove #f1f1f1;
  padding: 8px 10px;
  margin-bottom: 9px;
  margin-right: 10px;
}

.first, .second, .third {
  flex: 1 1 30%;
}

/* about me seection */
.bout-me {
  display: flex;
  margin: 60px 0;
}

.about-head {
  max-width: 1100px;
  margin: 0 auto;
}

.bout-text {
  padding: 25px 0;
}

.get-project {
  width: 130px;
}
/* main */